/*css pagina login*/
.user {
    #root {
        background-color: $background_grey;
    }
    .app-content {
        margin: 0 auto;
    }
    .form-row {
        justify-content: center;
        align-items: center;
        height: 100%;

        .form-container {
            justify-content: center;

            .card {
                justify-content: center;
                border: 1px solid $secondary_color;

                .card-header {
                    background-color: $secondary_color;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                .btn-primary {
                    background-color: $secondary_color;
                    transition: all .4s;

                    &:hover {
                        background-color: $secondary_dark;
                    }
                }
            }
        }
    }

    .btn-secondary {
        background-color: transparent;
        color: hsl(206, 5%, 26%);
        font-weight: 500;

        &:hover {
            background-color: #6c757d;
            color: #FFFFFF;
        }
    }
}

/*css pagina register*/
// .user {
//     .row {
//         padding-top: 10px;

//         .card {
//             border: 1px solid $primary-color;
//             .card-header {
//                 background-color: $primary-color;
//             }
//         }
//     }

// }
