.client {
    //Inizio Menu Verticale
    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 21px;

        .home-icon {
            margin-top: 17px;

            &.active {
                margin-top: 0;
            }
        }

        .icon {
            font-size: 1.3rem;
            margin-bottom: 2.5rem;
            transition: color .4s, background-color .4s, font-size .4s;
            cursor: pointer;

            &:hover {
                color: $primary_color;
            }

            &.active {
                font-size: 1.7rem;
                color: #FFFFFF;
                background-color: $primary_color;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 3.5rem;
            }
        }
    }

    //Fine Menu Verticale

    //Inizio Navigator
    nav {
        padding: 1.7rem 0 1.6rem;
        @include d-flex-sb-center;

        .logo {

            h5 {
                margin-bottom: 0;

                span {
                    color: $primary_color;
                }
            }
        }

        a {
            background-color: $background_grey;
            border-radius: 10px;
            font-weight: 600;
            border: 2px solid $primary_color;

            span {
                color: $primary_color;
            }

            .icon {
                font-size: 2rem;
                vertical-align: middle;
                margin-left: 1rem;
                color: $text_color;
            }

            &:hover {
                background-color: $primary_color;
                border: 2px solid $primary_color;

                span {
                    color: #FFFFFF;
                }
            }
        }


        .login-button {
            margin-right: 10px;
        }

        .burger {
            float: right;
            position: relative;

            &:focus {
                box-shadow: none;
            }

            i {
                color: $primary_color;
                font-size: 30px;
            }

            .items-in-cart {
                position: absolute;
                background-color: red;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: white;
                font-weight: 500;
                line-height: 16px;
                font-size: 11px;
                bottom: 3px;
                right: 8px;
            }
        }

        .burger-content {
            display: none;
            position: absolute;
            top: 4px;
            right: 135px;
            z-index: 10;

            a:hover {

            }
        }
    }

    //Fine Navigator

    //Inizio Jumbotron
    .my-jumbotron {
        height: calc(100% - 218px - 96px);
        padding-bottom: 1rem;
        transition: all .5s;
        overflow: hidden;
        align-items: center;
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .subtitle {
            font-weight: 500;
        }

        .banner-image {
            filter: drop-shadow(0 0 10px rgba($primary_color, .2));
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    //Fine Jumbotron

    //Inizio Cards Tipologie
    .types-section {
        margin-bottom: 5px;

        .types-container-title {
            @include d-flex-sb-center;

            h6 {
                font-size: 1.4rem;
                margin-bottom: 1rem;
                font-family: $content_font;
                font-weight: 600;
            }

            span {
                color: $primary_color;
                font-weight: 500;
                cursor: pointer;
                transition: color .4s;

                &:hover {
                    color: $primary_dark;
                }
            }
        }


        .container {
            padding: 0;

            .type-cards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: 157px;
                overflow-x: auto;
                scrollbar-width: none;
                transition: all .4s;

                &::-webkit-scrollbar {
                    display: none;
                }


                & > div {
                    width: calc(100% / 6 - 10px);
                }

                &.enlarge {
                    height: 314px;
                }

                .type-card {
                    padding: 13px 0;
                    border-radius: 10px;
                    text-align: center;
                    background-color: #FFFFFF;
                    cursor: pointer;
                    @include neumorph-shadow;
                    transition: all .4s;
                    margin-bottom: 10px;

                    &:hover {
                        @include neumorph-shadow-hover;
                    }

                    &.active {
                        background-color: $primary_color;
                        color: white;
                        @include neumorph-shadow-active;
                    }


                    .img-container {
                        font-size: 2rem;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: $primary_color;
                        color: #FFFFFF;
                        margin: 0 auto;

                        img {
                            width: 70%;
                            object-fit: cover;
                        }
                    }

                    &.active .img-container {
                        color: $primary_color;
                        background-color: #FFFFFF;

                        img {
                            filter: invert(100%);
                            opacity: 50%;
                        }
                    }

                    .card-icon {

                        i {
                            color: #FFFFFF;
                            background-color: $primary_color;
                            font-size: 0.8rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 50%;
                            line-height: 1.5rem;
                            text-align: center;
                            padding-left: 2px;
                        }
                    }

                    &.active i {
                        color: $primary_color;
                        background-color: #FFFFFF;
                    }

                    .card-title {
                        margin: .6rem 0;
                    }
                }
            }
        }
    }

    //Fine Cards Tipologie

    .type-indicator {
        margin: 10px 0 5px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    //Inizio Ristoranti
    .restaurants-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        transition: display .4s;
        max-height: calc(100% - 96px - 201px - 58px);
        overflow-y: auto;
        margin-bottom: 15px;
        scrollbar-width: none;
        transition: all .4s;

        &::-webkit-scrollbar {
            display: none;
        }

        &.reduce {
            max-height: calc(100% - 96px - 201px - 58px - 157px);
        }

        .restaurant-card {
            position: relative;
            display: flex;
            // width: calc(100% / 2 - 7.5px);
            height: 132px;
            border-radius: 5px;
            overflow: hidden;
            background-color: #FFFFFF;
            margin-bottom: 1rem;
            cursor: pointer;
            @include neumorph-shadow;
            transition: all .4s;

            &:hover {
                @include neumorph-shadow-hover;
                background-color: $background_grey;
            }

            &.active {
                background-color: $primary_color;
                color: white;
                @include neumorph-shadow-active;
            }

            .restaurant-img {
                width: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .restaurant-location {
                font-size: 1rem;
            }

            .restaurant-infos {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                color: $text_color;
                padding: 10px;
                flex-grow: 1;

                .card-title {
                    margin-left: 1px;
                    font-weight: bold;
                }

                .restaurant-address {
                    position: relative;
                    padding-left: 27px;

                    & > i {
                        font-size: 19px;
                        position: absolute;
                        top: 8px;
                        left: 2px;
                    }
                }

                .restaurant-city {
                    margin-left: 27px;
                }

                .restaurant-rate {
                    color: $primary_color;

                    i {
                        font-size: 1rem;
                        margin-right: 6px;
                    }

                    span {
                        color: $text_color;
                    }
                }
            }

            .if-basket {
                padding-right: 10px;
                padding-top: 10px;
                color: #27a2ff;
            }
        }
    }

    //Fine Ristoranti

    //Inizio Pagina Ristorante Singolo
    .single-restaurant-page {
        height: calc(100% - 96px);

        .single-restaurant {
            height: 200px;
            margin-bottom: 2rem;

            .img-container {
                img {
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            .single-restaurant-info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .restaurant-location {

                    i {
                        font-size: 21px;
                    }

                    .card-title {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .restaurant-rate {
                    color: $primary_color;
                    padding-bottom: 10px;
                }
            }
        }

        .dishes {
            margin-bottom: 1rem;
            max-height: calc(100% - 230px);
            overflow-y: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }


            .dish-card {
                width: 100%;
                height: 240px;
                @include neumorph-shadow;
                border-radius: 10px;
                cursor: pointer;
                margin-bottom: 20px;
                background-color: $background_light;
                transition: all .4s;
                overflow: hidden;

                &:hover {
                    @include neumorph-shadow-hover;
                    background-color: $background_grey;

                }

                img {
                    width: 100%;
                    height: 120px;
                    border-radius: 10px 10px 0px 0px;
                    object-fit: cover;
                }

                .dish-content {
                    height: 120px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .dish-name {
                        white-space: nowrap;
                    }

                    .dish-description {
                        font-size: 12px;
                        display: block;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        height: 40px;
                        overflow-x: auto;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }

                    .dish-controls {
                        display: flex;
                        justify-content: space-between;

                        .price {
                            font-weight: 600;
                            position: relative;
                            top: 3px;
                        }

                        input[type="number"] {
                            -webkit-appearance: textfield;
                            -moz-appearance: textfield;
                            appearance: textfield;
                        }

                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                        }

                        .number-input {
                            border: 0;
                            display: flex;
                            align-items: center;
                        }

                        .number-input,
                        .number-input * {
                            box-sizing: border-box;
                        }

                        .number-input button {
                            outline: none;
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: none;
                            align-items: center;
                            justify-content: center;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            margin: 0;
                            position: relative;
                            border-radius: 50%;

                            &:hover:after,
                            &:hover::before {
                                background-color: $primary_color;
                            }
                        }

                        .number-input button:before,
                        .number-input button:after {
                            display: inline-block;
                            position: absolute;
                            content: '';
                            width: 9px;
                            height: 2px;
                            background-color: $text_color;
                            transform: translate(-50%, -50%);
                        }

                        .number-input button.plus:after {
                            transform: translate(-50%, -50%) rotate(90deg);
                        }

                        .number-input input[type=number] {
                            max-width: 2.3rem;
                            padding: .5rem;
                            border: none;
                            border-width: 0 2px;
                            font-size: 1.2rem;
                            height: 1.3rem;
                            font-weight: bold;
                            text-align: center;
                            color: $primary_color;
                            background-color: transparent;
                        }

                        .cart-button {
                            width: 3.4rem;
                            height: 1.8rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            background: rgb(255, 217, 158);
                            background: linear-gradient(180deg, rgba(255, 217, 158, 1) 0%, rgba(255, 168, 35, 1) 100%);
                            position: relative;
                            box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);

                            &:hover {
                                background: rgb(255, 217, 158);
                                background: linear-gradient(90deg, rgba(255, 217, 158, 1) 0%, rgba(255, 168, 35, 1) 100%);
                            }

                            i {
                                color: #FFFFFF;
                                filter: drop-shadow(0 0 1px rgba($color: #000000, $alpha: 0.3));
                            }

                            .plus-icon {
                                background-color: red;
                                width: 1rem;
                                height: 1rem;
                                border-radius: 50%;
                                position: absolute;
                                @include d-flex-center;
                                right: -5px;
                                bottom: -5px;

                                i {
                                    color: #FFFFFF;
                                    font-size: 9px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    //Fine Pagina Ristorante Singolo

    //Inizio Carrello
    .cart {
        padding: 1.9rem 0;
        height: 100%;
        position: relative;

        .title {
            @include d-flex-sb-center;

            .closing-icon {
                font-size: 1.4rem;
                cursor: pointer;

                &:hover i {
                    color: $primary_color;
                }
            }
        }

        .cart-subtitle {
            margin: 1.5rem 0 10px;
            font-weight: 600;
        }

        form {

            label {
                font-size: 0.8rem;
                margin-bottom: 0.3rem;
            }

            .form-group {
                margin-bottom: 0.5rem;
            }

            input {
                height: 2.1rem;
            }
        }

        .order-items {
            height: calc(100% - 57px - 31px - 54px - 315px - 54px - 50px);
            overflow-x: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .empty-cart-msg {
                font-weight: 400;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: 13px;
                    margin-bottom: 10px;
                    font-weight: 500;

                    .dish-name {
                        font-weight: 400;
                    }

                    .bottom-order-item {
                        @include d-flex-sb-center;

                        //Input field
                        input[type="number"] {
                            -webkit-appearance: textfield;
                            -moz-appearance: textfield;
                            appearance: textfield;
                        }

                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                        }

                        .number-input {
                            border: 0;
                            display: flex;
                            align-items: center;
                        }

                        .number-input,
                        .number-input * {
                            box-sizing: border-box;
                        }

                        .number-input button {
                            outline: none;
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: none;
                            align-items: center;
                            justify-content: center;
                            width: 10px;
                            height: 10px;
                            cursor: pointer;
                            margin: 0;
                            position: relative;
                            border-radius: 50%;

                            &:hover:after,
                            &:hover::before {
                                background-color: $primary_color;
                            }
                        }

                        .number-input button:before,
                        .number-input button:after {
                            display: inline-block;
                            position: absolute;
                            content: '';
                            width: 9px;
                            height: 2px;
                            background-color: #3a2c23;
                            transform: translate(-50%, -50%);
                        }

                        .number-input button.plus:after {
                            transform: translate(-50%, -50%) rotate(90deg);
                        }

                        .number-input input[type=number] {
                            max-width: 2.5rem;
                            padding: .5rem;
                            border: none;
                            border-width: 0 2px;
                            font-size: 14px;
                            height: 1rem;
                            font-weight: bold;
                            text-align: center;
                            color: $primary_color;
                            background-color: transparent;
                        }

                        .dish-total-price {
                            font-size: 14px;

                            i {
                                font-size: 12px;
                                position: relative;
                                bottom: 1px;
                                margin-left: 5px;
                                cursor: pointer;

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom-info {
            position: absolute;
            left: 0;
            bottom: 2.1rem;
            width: 100%;
            text-align: center;

            .order-total {
                font-weight: 600;
                @include d-flex-sb-center;
                font-size: 1.2rem;
            }

            .btn-checkout {
                padding: 10px 40px;
                background: rgb(3, 3, 3);
                background: linear-gradient(180deg, rgba(255, 217, 158, 1) 0%, rgba(255, 168, 35, 1) 100%);
                color: #FFFFFF;
                font-size: 1.2rem;
                font-weight: 600;
                outline: 0;
                border: 0;
                margin: 15px auto auto;
                border-radius: 10px;
                box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: 0.3);
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.25);

                &:hover {
                    background: rgb(255, 217, 158);
                    background: linear-gradient(90deg, rgba(255, 217, 158, 1) 0%, rgba(255, 168, 35, 1) 100%);
                }
            }

        }

    }

    //Fine Carrello

    .show {
        display: flex;
    }

    .hide {
        display: none;
    }

    .reduce {
        height: calc(100% - 218px - 96px - 157px);
    }

}


