.client {
    //Inizio Navigator
    nav {
        padding: 1.7rem 1rem;

        @include d-flex-sb-center;

        .logo {
            span {
                color: $primary_color;
            }
        }

        a {
            span {
                color: $text_color;
            }

            .icon {
                font-size: 2rem;
                vertical-align: middle;
                margin-left: 1rem;
                color: $text_color;
            }
        }
    }
    //Fine Navigator

    //Inizio Menu Verticale
    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;

        .icon {
            font-size: 1.3rem;
            margin-bottom: 2.5rem;
            transition: color .4s, background-color .4s, font-size .4s;

            &.active {
                font-size: 1.7rem;
                color: #FFFFFF;
                background-color: $primary_color;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 3.5rem;
            }
        }
    }
    //Fine Menu Verticale

    .my_jumbotron {
        // @include d-flex-sb-center;
        display: flex;
        height: calc(100% - 220px - 100px);
        padding-top: 1rem;
        padding-bottom: 1rem;

        // col-left 
        .col-left {
            width: 50%;
            padding-top: 40px;

            h1 {
                font-size: 40px;
            }

            h5 {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        // fine col-left

        // col-right
        .col-right {
            width: 50%;
            padding: 20px;

            img {
                width: 100%;
            }
        }
        // fine col-right
    }

    .categories {
        height: 220px;
        padding-bottom: 1.5rem;
        @include d-flex-center;

        .cat_card {
            width: 10%;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
            text-align: center;
            margin-right: 10px;

            ._img {
                font-size: 35px;
                border: 1px solid black;
                border-radius: 50%;
                color: $primary_color;
            }

            ._chevron {
                color: $primary_color;
            }
        }
    }

    .restaurants {

    }

    .single-restaurant {

    }

    .restaurant-menu {

    }

    .cart {
        padding: 1.9rem 15px 0;
        overflow-y: auto;

        .title {
            @include d-flex-sb-center;
        }

        .cart-subtitle {
            margin-top: 0.8rem;
            font-weight: 600;
        }

        form {

            label {
                font-size: 0.8rem;
                margin-bottom: 0.3rem;
            }

            .form-group {
                margin-bottom: 0.5rem;
            }

            input {
                height: 2.1rem;
            }
        }

        .order-items {

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    img {
                        width: 25%;
                    }

                }
            }
        }

        .order-total {
            font-weight: 700;
            @include d-flex-sb-center;
        }


    }

}