// SMARTPHONE 
@include media-sm {
    #app .my_container {
        width: 100%;

        & > .container-fluid {
            max-width: 100%;
            margin: 0;
        }
    } 

    .types-section {
        .container {
            max-width: 100%;
        }
    }

    #root {
        max-width: 600px;
    }

    .client {
        height: 100%;
        overflow: hidden;

        // navigator
        .login {
            position: relative;

            .burger-content {
                margin: 10px 0;
                position: absolute;
                top: 42px;
                right: 10px;
                z-index: 1;
            }

            .logout-button {
                position: absolute;
                bottom: 13px;
                right: 57px;
            }

        }
        
        // end navigator

        // jumbotron 
        .jumbotron-text {
            h2 {
                font-size: 2.5rem;
            }

            .subtitle {
                font-size: 1.2rem;
            }
        }
        // end jumbotron

        // tipologie
        .container {
            .types-section {
                height: auto;
                margin-top: 20px;
    
                h6 {
                    margin-bottom: 11px;
                }
    
                .type-cards {
                    flex-wrap: wrap;
                    height: 165px;
                    overflow-y: auto;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        display: none;
                    }
    
                    & > div {
                        width: calc(100% / 3 - 1rem);
    
                        .type-card {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
        // end tipologie
    
    }
    
}

// TABLET 
@include media-md {

    #app .my_container {
        width: 90%;
    }

    .types-section {
        .container {
            max-width: 100%;
        }
    }

   
    .client {
        height: 100%;
        overflow: hidden;

        // jumbotron 
        .jumbotron-text {
            h2 {
                font-size: 2.5rem;
            }

            .subtitle {
                font-size: 1.2rem;
            }
        }
        // end jumbotron 

        // tipologie
        .container {
            .types-section {
                height: auto;
                margin-top: 20px;
    
                h6 {
                    margin-bottom: 11px;
                }
    
                .type-cards {
                    flex-wrap: wrap;
                    height: 165px;
                    overflow-y: auto;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        display: none;
                    }
    
                    & > div {
                        width: calc(100% / 4 - 1rem);
    
                        .type-card {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
   
        // end tipologie
    }
    
}

// TABLET
@include media-lg {

    #app .my_container {
        width: 90%;
    }
   
    
}