// SMARTPHONE 
@include media-sm {
    .client {
        height: 100%;
        overflow: hidden;

        // jumbotron 
        .jumbotron-text {
            h2 {
                font-size: 2.5rem;
            }

            .subtitle {
                font-size: 1.2rem;
            }
        }
        // end jumbotron

        // tipologie
        .types-section {
            height: 100%;
            overflow-y: auto;

            .type-cards {
                flex-wrap: wrap;

                & > div {
                    width: calc(100% / 3 - 6px);
                    margin-bottom: 10px;
                }
            }
        }
        // end tipologie 
    
    }
    
}

// TABLET 
@include media-md {
    .client {
        height: 100%;
        overflow: hidden;

        // jumbotron 
        .jumbotron-text {
            h2 {
                font-size: 2.5rem;
            }

            .subtitle {
                font-size: 1.2rem;
            }
        }
        // end jumbotron 

        // tipologie
        .types-section {
            height: 100%;
            overflow-y: auto;

            .type-cards {
                flex-wrap: wrap;

                & > div {
                    width: calc(100% / 4 - 6px);
                    margin-bottom: 10px;
                }
            }
        }
   
        // end tipologie
    }
    
}