
.user {
    //Inizio Menu Verticale
    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 21px;

        .home-icon {
            margin-top: 11px;

            &.active {
                margin-top: 0;
            }
        }

        .icon {
            font-size: 1.3rem;
            margin-bottom: 2.5rem;
            transition: color .4s, background-color .4s, font-size .4s;
            cursor: pointer;

            &:hover {
                color: $secondary_color;
            }

            &.active {
                font-size: 1.7rem;
                color: #FFFFFF;
                background-color: $secondary_color;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 3.5rem;
            }
        }
    }

    //Fine Menu Verticale

    //Inizio Navigator
    nav {
        padding: 1.7rem 0 1.6rem;
        @include d-flex-sb-center;

        .logo {

            h5 {
                margin-bottom: 0;

                span {
                    color: $secondary_color;
                }
            }
        }

        a {
            background-color: transparent;
            border: 1px solid $secondary_color;
            border-radius: 10px;
            padding: 5px 15px;
            text-decoration: none;
            transition: all .4s;

            span {
                color: $secondary_color;
                font-size: 1rem;
                transition: all .4s;
                font-weight: 600;
            }
        }

        a:hover {
            background-color: $secondary_color;

            span {
                color: #FFFFFF;
            }

        }

        .login-button {
            margin-right: 10px;
        }

        // .burger {
        //     display: none;
        // }
    }

    //Fine Navigator

    .homepage-title h6 {
        font-weight: 600;
    }

    //Inizio Ristoranti
    .dishes {
        margin-bottom: 1rem;
        max-height: calc(100% - 230px);
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }


        .dish-card {
            width: 100%;
            height: 240px;
            @include neumorph-shadow;
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 20px;
            background-color: $background_grey;
            transition: all .4s;

            &:hover {
                @include neumorph-shadow-hover;
                background-color: $background_grey;

            }

            img {
                width: 100%;
                height: 120px;
                border-radius: 10px 10px 0px 0px;
                object-fit: cover;
            }

            .dish-content {
                height: 120px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .dish-description {
                    font-size: 12px;
                    display: block;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    height: 40px;
                    overflow-x: auto;
                    scrollbar-width: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .dish-controls {
                    display: flex;
                    justify-content: space-between;

                    .price {
                        font-weight: 600;
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }

    &.detail {

        .card {
            border: 0;
            margin: 5px auto;
            display: flex;

            .card-body {
                z-index: 2;
                margin-top: -1rem;
                background-color: #fff;
                width: 80%;
                position: relative;
            }

            .card-image {
                position: relative;
                overflow: hidden;
                width: 100%; // for image's div width
                height: 450px;

                & > a > h3 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 5px 0 0;
                    z-index: 2;
                    background: rgba(#3c3030, 0.6);
                    color: #d6e3df;
                    font-size: 1.5em;
                    padding: 3px;
                    transition: all 0.5s ease;
                    transform: translateX(-100%)
                }

                img {
                    position: relative;
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.85;
                    transition: 0.5s ease;
                }
            }

            &:hover img {
                transform: scale(1.1);
                opacity: 1;
            }

            &:hover .card-image > a > h3 {
                transform: translateX(0%);
            }

            .card-body, .card-image {
                border-radius: 5px;
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            }

            .card-badge-left {
                position: absolute;
                z-index: 3;
                margin-top: 5px;

                .badge {
                    border-radius: 0;
                    color: #f37272;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 8px;
                }
            }

            .bottom {
                float: right;
            }
        }
    }
    &.statistics{
        .lds-roller {
            display: inline-block;
            position: absolute;
            width: 80px;
            height: 80px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 40px 40px;
        }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: orange;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

        .lds-roller div:nth-child(1):after {
            top: 63px;
            left: 63px;
        }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

        .lds-roller div:nth-child(2):after {
            top: 68px;
            left: 56px;
        }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

        .lds-roller div:nth-child(3):after {
            top: 71px;
            left: 48px;
        }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

        .lds-roller div:nth-child(4):after {
            top: 72px;
            left: 40px;
        }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

        .lds-roller div:nth-child(5):after {
            top: 71px;
            left: 32px;
        }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

        .lds-roller div:nth-child(6):after {
            top: 68px;
            left: 24px;
        }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

        .lds-roller div:nth-child(7):after {
            top: 63px;
            left: 17px;
        }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

        .lds-roller div:nth-child(8):after {
            top: 56px;
            left: 12px;
        }

        @keyframes lds-roller {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
